version: "3.0"

services:
  frontend:
    build:
        context: .
        dockerfile: Dockerfile
    environment :
      - HOST=0.0.0.0
      - PORT=3000

    ports:
      - "3000:3000"
    env_file:
      - .env.production
    
