name: Deploy to AWS
on:
  push:
    branches:
      - "master"
      - "main"
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Copy Environtment File"
        env:
          MY_SECRETS: ${{ secrets.ENV_FILE }}
        run: |
          # Using the variable instead of the direct secret prevents shell parsing errors
          echo "$MY_SECRETS" >> ~/daily_diary/.env.local

          # Verification (Checking byte size)
          echo "Checking file size:"
          ls -l ~/daily_diary/env.local
          cat ~/daily_diary/.env.local
      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            cd ~/daily_diary
            npm install
            echo ${{ secrets.ENV_FILE }} > .env.local
            npm run dev
