name: Deploy to AWS
on:
  push:
    branches:
      - "master"
      - "main"
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Copy Environtment File"
        env:
          MY_SECRETS: ${{ secrets.ENV_PRODUCTION }}
        run: |
          # Using the variable instead of the direct secret prevents shell parsing errors
          echo "$MY_SECRETS" > .env.production

          # Verification (Checking byte size)
          echo "Checking file size:"
          ls -l .env.production
      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            cd ~/daily_diary
            npm install
            npm run build
            pm2 restart all
